<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pedApps.crunchtimereviews" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Crunchtime Reviews"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AppBrain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".VideoPlayerActivity"
            android:label="video"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/BlackNoTitleBarTheme" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

</manifest>
